<!DOCTYPE html>
<html>
    <head>
        <title>BNS DAV Public School</title>

        {% include 'bootstrap.html' %}
    </head>
<body>
    {% include 'nav.html' %}
    <div class="container"> 
        <style>
            h2{
                font-family: verdana;
                font-size: 100%;
                color: brown;
            }
        </style>
        <h1 class="text-center mt-2 mb-4">BNS DAV Public School</h1>
        {% include 'banner.html' %}
        <h2 class="text-left mt-2 mb-4">Contact No : 9875550885</h2>
        <h2 class="text-left mt-2 mb-4">E-Mail : sudhir97gupta@gmail.com</h2>
        <h2 class="text-left mt-2 mb-4">Address : Near High School, Dongodih, Koderma, Jharkhand, PIN-825418</h2>
    </div>  
    {% include 'footer.html' %}
</body>
</html>
